<mat-toolbar  color="accent">
    <span>Login ke Aplikasi Produk</span>
</mat-toolbar>
<div style="padding:20px">
<mat-card>
    <mat-form-field style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput placeholder="admin" [(ngModel)]="data.username">
      </mat-form-field>    
      <mat-form-field style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" [(ngModel)]="data.password">
      </mat-form-field>
      <mat-card-actions>
          <button mat-raised-button color="accent" (click)="masuk(data)">MASUK</button>
      </mat-card-actions>
</mat-card>
</div>